@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="ps-2">
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    
        <div class="col-sm-4">
            <div class="card mb-2">
            <div class="card-header header">@await Component.InvokeAsync("RecipeCard", "Blackened Shrimp Tacos")</div>
            <div class="card-header header">@await Component.InvokeAsync("RecipeCard", "Steak on the Stovetop")</div>
            <br />
            <div class="card-header header">@await Component.InvokeAsync("RecipeCard", "Stuffed Peppers")</div>
            <div class="card-body">@await Component.InvokeAsync("RecipeCard", "Stuffed Peppers")</div>
                

                @*<div class="card-body">
                    <h5>@item.Name</h5>
                    <h5>@item.Servings</h5>
                    <h5>@item.PrepTime</h5>
                    <h5>@item.TotalTime</h5>
                </div>*@
                <div class="card-footer">
                    @*<a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Details">Details</a>
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Delete">Delete</a>*@
                </div>
            </div>
        </div>
    

</div>
