@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReciMe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reci_Me.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <!-- Nav Bar -->
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-white border-bottom box-shadow mb-3 pb-lg-5" style="min-height: 220px;">
            <div class="container-fluid">
                <a class="navbar-brand mr-auto" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/img/Logo revised.png" height="140" width="140"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="Index">All Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="Create">Submit Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactUs" asp-action="Index">Contact Us</a>
                        </li>

                        @{
                            string action = "Index";
                            string isVisible = "hidden";
                            var fullname = HttpContextAccessor.HttpContext?.Session.GetString("fullname");
                            if (fullname != null && fullname != "null")
                            {
                                action = "Index";
                                fullname = fullname.Replace("\"", "");
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action=@action>@fullname</a>
                                </li>
                                isVisible = "visible";
                            }                       
                            else
                            {
                                action = "Login";
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action=@action>Login</a>
                                </li>
                                isVisible = "hidden";
                            }
                                                 
                        }


                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        @*@{
                        Reci_me.BL.UserManager.Seed();
                        var description = @HttpContextAccessor.HttpContext?.Session.GetString("description");
                        if (description == null)
                        {*@                 

                        @{


                            <li class="nav-item" style="position:relative; left: -7px;">
                                <a asp-controller="User" asp-action="Logout">
                                    <button style="visibility:@isVisible">
                                        <i class="fa fa-sign-out"></i>
                                    </button>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a asp-controller="User" asp-action=@action>
                                    <button>
                                        <i class="fa fa-user"></i>
                                    </button>
                                </a>
                            </li>
                        }

                        <div class="search">
                            <form class="navbar-form" action="#">
                                <div class="input-group">
                                    <input type="text"
                                           placeholder=" Search Recipes"
                                           name="search">
                                    <button>
                                        <i class="fa fa-search"
                                           style="font-size: 18px;">
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        @*}
                        else
                        {
                        description = description.Replace("\"", "");
                        <li class="mt-2"><a asp-controller="User" asp-action="Logout">Logout</a></li>
                        <a class="nav-link text-dark">@description</a>
                        }
                        }*@
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>

    <!-- Left-side of the page -->


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ReciMe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        @*<a href="#" class="fa fa-facebook-f"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
