@using Reci_me.BL
@model Reci_me.BL.Models.Recipe
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "View Recipe";
}

<head>
    <style>
        /* Style for the preview container */
        .preview-container {
            position: relative;
            display: inline-block;
        }

        /* Style for the preview image */
        .preview-image {
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            height: fit-content;
            border: 1px solid #ccc;
            background-color: #fff;
            display: none;
        }

        /* Show the preview image when hovering over the link */
        .preview-container:hover .preview-image {
            display: block;
            border-radius: 25px;
            border: 2px solid black;
            padding: 20px;
            width: fit-content;
            height: fit-content;
        }

        ul {
            list-style-type: none;
            color: black;
        }
    </style>
</head>

<div class="section-padding-80">
    <div>
        <div class="container" style="margin: auto; width: 100%;">
            <div class="row">
                <div class="col-12 col-md-8" style="float: left;">
                    <div class="col-12 ingredients col-lg-4" style="float: right; padding-left: 10px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="ingredients">
                                    <h4>Ingredients</h4>
                                    <div class="row">
                                        <div class="col-12 col-lg-4">
                                            @foreach (var item in Model.Ingredients)
                                            {
                                                <!-- Single Preparation Step -->
                                                <div class="d-flex">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck" style="padding-left: 10px;">@Html.DisplayFor(modelItem => item.Name)</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2>@Html.DisplayFor(model => model.Name)</h2>
                            <h5>
                                By: <a asp-controller="User" asp-action="CreatedRecipes" asp-route-id="@Model.UserId" class="preview-container">
                                    @UserManager.LoadById(Model.UserId).FullName<span class="preview-image">
                                        <ul>
                                            <li>@UserManager.LoadById(@Model.UserId).FullName</li>
                                            <li>@UserManager.LoadById(@Model.UserId).Email</li>
                                        </ul>
                                    </span>
                                </a>
                            </h5>
                            <div class="receipe-duration">
                                <h6>Total: @Html.DisplayFor(model => model.TotalTime) minutes</h6>
                                <h6>Prep: @Html.DisplayFor(model => model.PrepTime) minutes</h6>
                                <h6>Yields: @Html.DisplayFor(model => model.Servings) Servings</h6>
                            </div>
                            <div class="recipeimg">
                                <img class="dish" src="~/images/Recipe/@Model.MainImagePath" style="max-width: 200 px; max-height: 200px" />
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    @foreach (var item in Model.Instructions)
                                    {
                                        <!-- Single Preparation Step -->
                                        <div class="d-flex">
                                            <h4>@Html.DisplayFor(modelItem => item.InstructionNum).</h4>
                                            <p>@Html.DisplayFor(modelItem => item.Text)</p>
                                        </div>
                                    }
                                    @*<div class="col-12 col-lg-8">
                                    @foreach (var item in Model.Ingredients)
                                    {
                                    <!-- Single Preparation Step -->
                                    <div class="d-flex">
                                    <h4>@Html.DisplayFor(modelItem => item.Name).</h4>
                                    </div>
                                    }
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                <div class="col-12 col-lg-8">
                @foreach (var item in Model.Instructions)
                {
                <!-- Single Preparation Step -->
                <div class="d-flex">
                <h4>@Html.DisplayFor(modelItem => item.InstructionNum).</h4>
                <p>@Html.DisplayFor(modelItem => item.Text)</p>
                </div>
                }
                <div class="col-12 col-lg-8">
                @foreach (var item in Model.Ingredients)
                {
                <!-- Single Preparation Step -->
                <div class="d-flex">
                <h4>@Html.DisplayFor(modelItem => item.Name).</h4>
                </div>
                }
                </div>
                </div>
                </div>*@
            </div>
            <!-- Ingredients -->
        </div>
    </div>
</div>

