@using Reci_me.BL
@model Reci_me.BL.Models.Recipe

@{
    ViewData["Title"] = "View Recipe";
}
<div class="section-padding-80">
    <div>
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div>
                        <h2>@Html.DisplayFor(model => model.Name)</h2>
                        <h1>By: <a asp-controller="User" asp-action="Details" asp-route-id="@Model.UserId">@UserManager.LoadById(@Model.UserId)</a></h1>
                        <div class="receipe-duration">
                            <h6>Total: @Html.DisplayFor(model => model.TotalTime) minutes</h6>
                            <h6>Prep: @Html.DisplayFor(model => model.PrepTime) minutes</h6>
                            <h6>Yields: @Html.DisplayFor(model => model.Servings) Servings</h6>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        @foreach (var item in Model.Instructions)
                        {
                                <!-- Single Preparation Step -->
                        <div class="d-flex">
                                    <h4>@Html.DisplayFor(modelItem => item.InstructionNum).</h4>
                                    <p>@Html.DisplayFor(modelItem => item.Text)</p>
                        </div>
                        }
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck">Ingredient</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
