@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor

@* @model IEnumerable<Reci_me.BL.Models.User> *@
@model Reci_Me.UI.ViewModels.UserVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:100%; text-align:center">
    <h1>
        @{
            Reci_me.BL.UserManager.Seed();
            var description = @HttpContextAccessor.HttpContext?.Session.GetString("description");
            if (description != null)
            {
                <p>@description</p>
            }
            else
            {
                <p>User Profile</p>
            }
        }
    </h1>
    <br />
    @*<table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ProfilePicture)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ProfileDescription)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.AccessLevelId)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ProfilePicture)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ProfileDescription)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.AccessLevelId)
    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
    @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
    @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
    </td>
    </tr>
    }
    </tbody>
    </table>*@
    <div class="row gutters-sm" style="width:100%; text-align: center">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://atlasfamilyhealthcenter.com/wp-content/uploads/2017/12/blank-avatar.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h2>
                                @HttpContextAccessor.HttpContext?.Session.GetString("fullname").Replace("\"", "")
                            </h2>
                            <input type="submit" value="Reset Password" class="btn btn-primary" />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @HttpContextAccessor.HttpContext?.Session.GetString("fullname").Replace("\"", "")
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @HttpContextAccessor.HttpContext?.Session.GetString("email").Replace("\"", "")
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @HttpContextAccessor.HttpContext?.Session.GetString("accesslevel").Replace("\"", "")
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">All Saved Recipes</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a asp-action="">All Saved Recipes</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">All Created Recipes</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a asp-action="">All Created Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width:100%; text-align:center">
        <p>
            @{
                Reci_me.BL.UserManager.Seed();


                if (description != null)
                {
                    <a asp-controller="User" asp-action="Logout"><input type="submit" value="Logout" class="btn btn-primary" /></a>
                    <a asp-controller="User" asp-action="Edit" asp-route-id=@HttpContextAccessor.HttpContext?.Session.GetString("id").Replace("\"", "")><input type="submit" value="Edit Account" class="btn btn-primary" /></a>
                    //var id = HttpContextAccessor.HttpContext?.Session.GetString("id");
                    //<a asp-controller="User" asp-action="Delete" asp-route-id="@id"><input type="submit" value="Delete Account" class="btn btn-primary" /></a>

                    <button name="X-HTTP-Method-Override" value="DELETE" formnovalidate
                            class="btn btn-primary" onclick="return confirm('Are you sure?')">
                        Delete Account
                    </button>
                }
            }

        </p>
    </div>
